[Unit]
Description=My custom startup script
 After=network.target
 After=systemd-user-sessions.service
 After=network-online.target

[Service]
 User=survtech
 Type=simple
# PIDFile=/run/my-service.pid
ExecStart=/usr/bin/cvlc --vlm-conf /home/survtech/mosaic/hotel6.vlm
# ExecReload=/usr/bin/cvlc --vlm-conf /home/survtech/mosaic/hotel6.vlm
 TimeoutSec=30
 Restart=on-failure
 RestartSec=30
# StartLimitInterval=350
# StartLimitBurst=10

[Install]
WantedBy=multi-user.target

